.mainDiv
{
/*background-color: #FFFFFF;*/
width: 85%;
height: 100%;
    margin-left: 200;
    position: absolute;
    left: 15%;
}

/*Teams  styles*/
							/*ADELAIDE THUNDERBIRDS*/
.AdelaideThunderbirdsCircle{
	fill:#FF1493;/* Pink */
	stroke:#FFFFF1;/* White */

}
							/*CENTRAL PULSE*/
.CentralPulseCircle{
	stroke:#FFFF00;/* Yellow */
	fill:#1560BD;/* Blue */
}
							/*CANTERBURY TACTIX*/
.CanterburyTactixCircle{
	fill:#FF0000;/* Red */
	stroke:#000000;/* Black */
}
							/* MELB VIX*/
.MelbourneVixensCircle{
	fill:#191970;/* Dark Blue */
	stroke:#008080;/* Green */
}
							/*NSW SWIFTS*/
.NewSouthWalesSwiftsCircle{
	fill:#FF0000;/*Red*/
	stroke:#6495ED;/*Light Blue*/
}
							/*NORTHERN MYSTICS*/
.NorthernMysticsCircle{
	fill:#0000FF;/* Royal Blue */
	stroke:#FF0000;/* Red */
}
							/*QUEENSLAND FIREBIRDS*/
.QueenslandFirebirdsCircle{
	fill:#800080;/* Purple */
	stroke:#FFA500;/* Gold */
}
							/*SOUTHERN STEEL*/
.SouthernSteelCircle{
	fill:#00B7EB;/* Light Blue*/
	stroke:#000000;/*Black*/
}
							/*WAIKATO BAY OF PLENTY MAGIC*/
.WaikatoBayofPlentyMagicCircle{
	fill:#000000;/* Black */
	stroke:#FF4500;/* Orange */
}
							/*WESTCOST FEVER*/
.WestCoastFeverCircle{
	fill:#000000;/* Black */
	stroke:#32CD32;/* Bright Ugly Green*/
}
.WestCoastFeverCirclePie0{
    fill:#32CD32;/* Black */
    /*stroke:#000000;*//* Bright Ugly Green*/
}
.WestCoastFeverCircle1{
    fill:#000000;/* Black */
    /*stroke:#32CD32;*//* Bright Ugly Green*/
}

.AdelaideThunderbirdsCircle,							
.CentralPulseCircle,							
.CanterburyTactixCircle,							
.MelbourneVixensCircle,	
.NewSouthWalesSwiftsCircle,							
.NorthernMysticsCircle,							
.QueenslandFirebirdsCircle,							
.SouthernSteelCircle,							
.WaikatoBayofPlentyMagicCircle,							
.WestCoastFeverCircle{
	stroke-width:3px;
	border-color: #000000;

}
/*Main Tabel styles*/
.mainTable{
		margin: 5px auto auto auto;
}
.spacerTD{
	width: 100%;
}
.titleTD{
	width: 100%;
}
.titleIMG{
	position: relative;
	left: 220%;
	top: 0%;
}

td{
	padding:0px 5px 30px 5px;
}
.buttonTR{
	padding:0px;
}
.tdSeasons{
	padding: 10px 5px 5px 5px;
}
.slider{
	position: absolute;
	left: 600px;
}
.slice{
	font-size: 18px;
	font-family: Verdana;
}
body {
    font-family: Verdana,Arial,sans-serif;
    background-color: #d3d3d3;
    height: 100%;
}

h2 {
    font-size: 1.2em;
    margin: 60px 0 5px 0;
}

.wrapper {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #d3d3d7;
}

.wrapper > div {
    margin: 35px 0;

}

.buttonImgDiv{
    height: 100px;
    width: 100px;
}
.mapStyle{
    fill:#009DDD;
}
.titleBarANZ{
text-align: center;
    color: #009DDD;
    /*background-color:#FF1493 ;*/


}
.imgANZ{
    margin-top: 20px;


}
.sexyMainDiv{
    border-radius: 10px;
    opacity: 1;
    /*background-color: #BEBEBE;*/
    margin: 10px 5px 10px 5px;
    position: relative;
    width: 100%;

}

/*Country Styles Jesus this is getting convoluted*/
.subunits2.NZA{fill:#009DDD;}
.subunits2.NZC{fill:#009DDD;}
.subunits2.NZK{fill:#009DDD;}
.subunits2.NZN{fill:#009DDD;}
.subunits2.NZS{fill:#009DDD;}
.subunits2.AUS{fill:#FF1493;}



.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    stroke: #999;
    stroke-opacity: 1;
}
.pointsBySeason{
	fill:#000000 ;
	opacity: .1;
}
.teamSel{
	margin-top: 20px;
	margin-left: 200px;
	background-color: #d3d3d3;	
}
.placingsSeason{
		fill:#000000 ;
	opacity: .1;
}
.pointBack{
    fill:#d3d3d3;

}
.axisStyle{
    stroke-width:5;
}
.buttons{
    fill:#000000 ;
    opacity: .1;
}

.titleHeader{
    margin-bottom: 30px;
}
.compareButton{
    fill:#d3d3d3;
}
.axis path,
.axis line {
    fill: none;
    stroke: #121401;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}